.flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#imagemGrande{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}